.sidebar {
  height: calc(100vh - var(--navbar-height));
  width: var(--sidebar-width);
  background: var(--inverted-bg-color);
  transition: 0.4s width;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  box-shadow: 19px 23px 29px -11px rgb(34 60 80 / 20%);

  div:last-child {
    display: flex;
    align-items: center;
  }
}

.switchers {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 12px;

  button {
    height: 32px;
  }

  button:first-child {
    background: inherit;
    border: none;
  }

  svg {
    transition: 0.4s transform;
    color: var(--primary-color);
  }
}

.collapsedIcon {
  font-size: 40px;
  cursor: pointer;
}

.collapsed {
  width: var(--sidebar-width-collapsed);

  svg {
    transform: rotate(180deg);
  }
}
