.app.dark {
  --bg-color: #2c3439;
  --inverted-bg-color: #254552;
  --primary-color: #a0d0cf;
  --secondary-color: #a2705b;
  --inverted-primary-color: #8bc7e3;
  --inverted-secondary-color: #99654ffc;
  --theme-icon-color: #fff;
}
