.app.light {
  --bg-color: rgb(246 248 250 / 74%);
  --inverted-bg-color: rgb(224 219 219 / 56%);
  --primary-color: #09292a;
  --secondary-color: #1a619f;
  --inverted-primary-color: #025454;
  --inverted-secondary-color: #2f8a5a;
  --theme-icon-color: #000;
}
